[data-theme="light"]{
  --bg-color:#FFF;
  --text-color: #333;
}

[data-theme="dark"]{
  --bg-color:#333;
  --text-color: #FFF;
}

body {
  margin: 0;
  font-family: -apple-system, BNavLinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--bg-color);
  color: var(--text-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.navbar{
  border: 1px solid gray;
}
.navbar ul{
  display: flex;
} 
.navbar ul li{
  list-style: none;
  margin: 2px;
  padding: 2px;
}
.navbar ul li a{
  color: var(--text-color);
}

.page-number{
  padding: 2px;
  margin: 2px;
}

.to-do label{
  margin:2px;
  padding: 2px;
}

.page-number.active{
  color: #0F0;
}

ul li{
  list-style: none;
}
.otp-input{
  height: 40px;
  width: 40px;
  margin: 2px;
  text-align: center;
}
